@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 !important;
    height: 100vh;
    user-select: none;
    cursor: default;
    overflow: hidden
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}